<span id="sidebar" style="float: left;"></span>
<span id="content" style="float: left; padding-left: 50px"></span>

<script type="text/javascript">
  $(function () {
    window.App.initialize($("#sidebar"),$("#content"));
  });
</script>