<h1><a href="#/feeds/<%= model.id %>/reload" ><%= model.escape("title") %></h1>
  <ul>
  <% model.get('entries').each( function (entry) { %>
    <li>
      <a href="#/entry/<%= entry.id %>"><%= entry.escape("title") %></a>
    </li>
  <% }); %>
  </ul>
<a href="#/">Back</a>